<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
    <div class= "thumbnail">
        <img src="../../../static/images/logo.PNG" alt="Logo"/>
    </div>
    <p>Features | About | Contact</p>

    <button> type="button">Login</button>
    <button> type="button">Sign Up</button>

    <h1>Track Calories - Meal Prep- Find Workouts</h1>
    <p>Calorie Tracker allows you to track all your calories, find delicious and nutritious recipes for meal pre, and find workouts to help you stay active.</p>

    <!--Insert next "page" Features/Benefits-->
    <h1>Main Features and Benefits</h1>
    <p>This app allows you to stay on top of your health. Our meal prep recipes are nutritious, delicious, and have their calories included for easier tracking. Our workouts also include approximate calories burnt. With all of these features, you can easily track your daily caloric intake and the amount of calories you have burn throughout the day. </p>

    <!--green checkmark image-->
    <h2>Track Calories</h2>
    <p>Calorie Tracker allows you to keep track of your daily caloric intake.</p>

    <!--green checkmark image-->
    <h2>Meal Prep</h2>
    <p>Our meal prep provides healthy recipes for our users.</p>

    <!--green checkmark image-->
    <h2>Workouts</h2>
    <p>We provide different workouts for each customer, depending on what they want to gain from their workouts.</p>

    <!--Insert next "page" Help/Get in touch-->
    <h1>Support</h1>
    <p>If you are having any trouble, please seek assistance here.</p>

    <form>
        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message"><br>
        <label for="email">Email Address:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="name">Full Name:</label><br>
        <input type="name" id="name" name="name"><br>
        <input type="submit">
    </form>
</body>
</html>